/* @import "./rose-pine.css"; */
/* @import "./rose-pine-moon.css"; */
@import "./rose-pine-dawn.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'DepartureMono Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  /* background-color: transparent; */
  background-color: @base;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 10rem;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: @base;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

.modules-left,
.modules-right,
.modules-center {
  background-color: @base;
  border-radius: 10px;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button {
  padding: 0 7px;
  background-color: transparent;
  color: @pine;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @base;
  box-shadow: inset 0 -3px #ffffff;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#memory,
#network,
#pulseaudio,
#workspaces {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: @text;
}

#battery {
  color: @love;
  border-left: 2px solid @love;
}

#memory {
  color: @gold;
  border-left: 2px solid @gold;
}

#network {
  color: @foam;
  border-left: 2px solid @foam;
}

#pulseaudio {
  color: @iris;
  border-left: 2px solid @iris;
}

#clock {
  color: @text;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery.charging,
#battery.plugged {
  color: @rose;
}

@keyframes blink {
  to {
    background-color: @gold;
    color: @base;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @base;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* #privacy { */
/*   padding: 0; */
/* } */
/**/
/* #privacy-item { */
/*   padding: 0 5px; */
/*   color: white; */
/* } */
/**/
/* #privacy-item.screenshare { */
/*   background-color: #cf5700; */
/* } */
/**/
/* #privacy-item.audio-in { */
/*   background-color: #1ca000; */
/* } */
/**/
/* #privacy-item.audio-out { */
/*   background-color: #0069d4; */
/* } */
